@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body{
    width: 80%;
    margin: 0 auto;
    background-color:white;
}
#nav{
    height: 4em;
    background-color: rgba(203,71,152, 0.3);
}

.header h1{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    padding-left: 2em;
    color:RGB(192,54,98);
}


.justify {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.item{
    background-color: RGB(179,104,168);
    color: #ECF0F1;
    margin:0;
    padding:10px;
    width:auto;
    height:auto;
    font-family: 'Oswald', Arial, sans-serif;
    margin-top: 2%;
}


.item p {
    width:100%;
    font-size: 12pt;
}

.item h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
}

.item h4 {
    font-family: 'Playfair Display', serif;
    font-size: 13pt;
    margin-top: 5px;
}

.inner-box {
    color: #212121;
    background-color: #C5CAE9;
    padding: 0 7px 2px 7px;
    margin-top: 7px;
}
.photo {
    width: 3em;
    height: 3em;
    margin: 3px;
}

.item div img:hover{
    border-color: lightblue;
}

button {
    font-family: 'Oswald', A7   rial, sans-serif;
    background-color: #FF4081;
    color: white;
    padding: 0 7px 2px 7px;
    margin-top: 7px;
    width: 100%;
    height: 3em;
    border: none;
}
button:hover {
    background-color: #FF80AB;
    cursor: pointer;
}
button:active {
    background-color: #F8BBD0;
    cursor: pointer;
}


